* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 62.5%;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  
  main {
    width: 100%;
    margin-top: 30px;
  }
  
  header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50px;
    align-items: center; /* horizontal align when flex-direction = column */
    justify-content: center; /* vertical align when flex-direction = column */ 
  }
  
  section {
    width: 100%;
    margin: 5px auto;
  }
  
  header h1 {
    font-size: 1.7rem;
    padding: 5px;
  }
  
  p {
    font-size: 1.2rem;
    padding: 5px;
  }
  
  section h2 {
    text-align: center;
    font-size: 1.2rem;
    padding: 5px;
    margin-top: 15px;
  }
  
  .data-form {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 5px auto;
    border: 1px solid #0000FF;
    padding: 10px;
  }
  
  .data-input {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center; /* horizontal align when flex-direction = row */
    width: 100%;
    margin: 5px auto;
  }
  
  .data-form label {
    width: 192px;
    font-size: 1.2rem;
    text-align: center;
    margin: 5px auto;
  }
  
  .input-price, .input-coupon {
    width: 65%;
    border: 1px solid #0000FF;
    margin: 5px auto;
    vertical-align: middle;
    text-align: center;
    font-family: math;
    font-size: 1.2rem;
  }

  .input-price:after {
    content: "$";
  }
  
  .input-coupon:after {
    content: "\0025";
  }
  
  .data-form input {
    width: 90%;
    border: 0;
    text-align: center;
    font-family: math;
    font-size: 1.2rem;
  }
  
  .data-form input:focus {
    outline: 0;
  }
  
  .data-form button {
    margin: 10px auto;
    background-color:rgba(0,0,255,0.3);
    font-size: 1.2rem;
    border: 1px solid #0000FF;
  }
  
  .data-form p {
    text-align: center;
    margin: 0 auto;
  }